@import url('http://fonts.cdnfonts.com/css/circe');
@import url('http://fonts.cdnfonts.com/css/gilam');
body {
    background: #121212;
}
.bg-main {
    width: 100vw;
    background: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-clients {
    width: 100vw;
    background: url("../img/header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {

    box-sizing: border-box;
    width: 1920px;
    margin: 0 auto;
    padding: 0 230px;

}
.main_header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin-bottom: 128px;
}
.phone_number {
    display: flex;
}
.phone_number > p {
    margin-top: 0;
    margin-bottom: 0;
}
.number {
    margin-right: 40px;
    align-self: center;
    font-family: 'Circe';
    font-weight: 700;
    font-size: 20px;
    color: #fff;

}
.callback {
    border: 1px solid #E4B564;
    padding: 10px 25px;
    font-family: 'Circe';
    color: #E4B564;
}
.callback > img {
    padding-right: 10px;
}
.text-dec {
    color: #D6AF76;
}
h1 {
    font-family: "Gilam";
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.information {
    font-family: "Gilam";
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 41px;
}
.grid3x2 {
    display: grid;
    grid-gap: 26px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "item-1 item-1 item-2 item-2  item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5" ;
    min-height: 962px;
    margin-bottom: 160px;
}
.grid3x2 a {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
}
.item1 {
    background: #634F2C;
    grid-area: item-1;
    text-align: center;
    align-items: center;
    display: grid;
}
.item2 {
    background: #B4A385;
    grid-area: item-2;
    text-align: center;
    align-items: center;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
}
.item3 {
    background: #E4B564;
    grid-area: item-3;
    text-align: center;
    align-items: center;
    display: grid;
}
.item4 {
    background: #635A4A;  
    grid-area: item-4; 
    text-align: center;
    align-items: center;
    display: grid;
}
.item5 {
    background: #B08C4D;
    grid-area: item-5;
    text-align: center;
    align-items: center;
    display: grid;
}
.numeration_item {
    margin-bottom: 94px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 190px;
}
.list a {
    font-family: 'Gilam';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.first-column p {
    padding-left: 52px;
    padding-top: 44px;
    margin: 0;
    text-align: start;
}
.second-column p {
    padding-left: 52px;
    padding-top: 44px;
    margin: 0;
    text-align: start;
}
.item_p4 {
    color: #000000;
}
.third-column p {
    padding-left: 48px;
    padding-top: 44px;
    margin: 0;
    text-align: start;
}
.first-column {
    display: flex;
    flex-direction: column;
}
.second-column {
    display: flex;
    flex-direction: column;
}
.third-column {
    display: flex;
    flex-direction: column;
}
.list_item1 {
    background: #0E0E0E;
    width: 455px;
    height: 313px;
    margin-bottom: 24px;
}
.list_item2 {
    background: #1F1F1F;
    width: 455px;
    height: 560px;
}
.list_item3 {
    background: #242424;
    width: 455px;
    height: 439px;
    margin-bottom: 33px;
}
.list_item4 {
    background: #E4B564;
    width: 455px;
    height: 405px;
    color: #000000;

}
.list_item5 {
    background: #1F1F1F;
    width: 455px;
    height: 255px;
    margin-bottom: 26px;
}
.list_item6 {
    background: #0E0E0E;
    width: 455px;
    height: 313px;
    margin-bottom: 26px;
}
.list_item7 {
    background: #0A0909;
    width: 455px;
    height: 277px;
}
.clients_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 172px;
}
.clients_header > h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
}

.btn-projects a {
    font-family: "Circe", sans-serif;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;
}

.clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 94px 0 300px 0;
}

.clients div {
    height: 391px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.client_1 {
    background-color: #634F2C;
}

.client_2 {
    background-color: rgba(232, 210, 171, 0.76);
    align-content: center;
    justify-items: center;
}

.client_2 p {
    font-size: 22px;
    font-family: "Gilam", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.client_2 p span {
    font-family: "Gilam", sans-serif;
    font-weight: 500;
}

.client_3 {
    background-color: #E4B564;
}

.client_4 {
    background-color: #635A4A;
}

.client_5 {
    background-color: #B08C4D;
}

.client_6 {
    background-color: #634F2C;
}
